<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
    <servlet>
        <servlet-name>GetAllData</servlet-name>
        <servlet-class>Servlets.GetAllData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterDataServlet</servlet-name>
        <servlet-class>Servlets.FilterDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MapDataServlet</servlet-name>
        <servlet-class>Servlets.MapDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDataServlet</servlet-name>
        <servlet-class>Servlets.DeleteDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDataServlet</servlet-name>
        <servlet-class>Servlets.AddDataServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAllData</servlet-name>
        <url-pattern>/GetAllData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterDataServlet</servlet-name>
        <url-pattern>/FilterDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MapDataServlet</servlet-name>
        <url-pattern>/MapDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDataServlet</servlet-name>
        <url-pattern>/DeleteDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDataServlet</servlet-name>
        <url-pattern>/AddDataServlet</url-pattern>
    </servlet-mapping>
</web-app>
